.social-bar {
    height: 5vh;
    width: 100vw;
    border-bottom: 1px solid rgb(204, 204, 204);
    max-width: 100%;
    position: absolute;
    top: 0;
    background: black;
    color: #fff;
}

.social-icons {
    height: 5vh;
    float: left;
    width: 50vw;
    max-width: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-30%);
}

.icon {
    color: rgb(204, 204, 204);
    float: left;
    margin: 0 1vw;
    font-size: 1.5rem;
}

.contact-info {
    height: 5vh;
    float: right;
    width: 50vw;
    max-width: 50%;
    position: relative;
    top: 50%;
    transform: translateY(-30%);
}

.contacts {
    color: rgb(204, 204, 204);
    float: right;
    margin: 0 1vw;
}

.contacts i {
    display: inline;
}

.contact-text {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    display: inline;
}